@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Protest+Revolution&display=swap');

body{
    background: rgb(18,10,156);
    background: linear-gradient(90deg, rgba(18,10,156,0.9317927854735644) 15%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);    
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

a{
    text-decoration: none;
    color: white;
}
